*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --celeste: #57bed5;
    --texto-secundario: #959596;
    --texto-primario: #424242; 
    --white: #FFFFFF;
    --background-plomo: #F7F8F9;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: var(--texto-primario);
}

/* NAV */
nav{
    z-index: 999;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0,0,0, .1);
}

.nav{
    height: 60px;
}

.nav-img{
    height: 40px;
}

.nav-img img{
    height: 100%;
}

.nav-menu{
    background-color: var(--white);
    display: none;
    opacity: 0;
}

.nav-menu-header{
    height: 60px;
}

.nav-menu-header-logo{
    height: 40px;
}

.nav-menu-header-logo img{
    height: 100%;
}

.nav-menu-content-redes{
    border-top: 1px solid var(--texto-secundario);
}

.nav-menu.active{
    animation: menuMobile .3s ease-in-out backwards;
    opacity: 1;
    display: block;
}

@keyframes menuMobile {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* HEADER */
.header{
    min-height: 100vh;
    background-image: url('./assets/img/header.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 80px;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, .7);
    z-index: 1;
}

.header-information,
.header-form{
    position: relative;
    z-index: 2;
}

.header-information{
    color: var(--white);
}

.header-information ul li{
    position: relative;
    margin-bottom: 16px;
}

.header-information ul li span{
    font-weight: 900;
}

.header-form form{
    padding: 16px;
    border-radius: 16px;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0,0,0, .3);
}

form input, 
form textarea{
    width: 100%;
    outline: none;
    border: 1px solid var(--texto-secundario);
    border-radius: 16px;
    padding: 8px 16px;
    margin-bottom: 16px;
    transition: all .3s ease-in-out;
    font-size: 14px;
}

form input:focus,
form input:hover, 
form textarea:focus,
form textarea:hover{
    box-shadow: 0 4px 8px rgba(0,0,0, .2);
    border: 1px solid var(--texto-primario);
}

form input[type='checkbox']{
    width: fit-content;
    margin-bottom: 0;
}

.form-checkbox{
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

form button{
    background-color: var(--celeste) !important;
    padding: 8px 16px;
    margin: 0 auto;
    color: var(--white);
    font-weight: 600;
    border-radius: 16px;
    width: 100%;
    outline: none;
    margin-top: 16px;
}

form button:hover{
    box-shadow: 0 4px 8px rgba(87, 190, 213, .4);
}

section button{
    background-color: var(--celeste) !important;
    padding: 8px 16px;
    color: var(--white);
    font-weight: 400;
    border-radius: 16px;
    outline: none;
    margin-top: 16px;
}

.requisitos svg{
    width: 20px;
    height: 20px;
    color: var(--celeste);
}

.parallax{
    background-image: url('./assets/img/parallax1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: var(--white);
}

.parallax2{
    background-image: url('./assets/img/parallax2.jpg');
}

.parallax2::before{
    background-color: rgba(0,0,0, .7);
}

.parallax::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, .8);
    z-index: 1;
}

.parallax p,
.parallax a{
    position: relative;
    z-index: 2;
}

.background-plomo{
    background-color: var(--background-plomo);
}

.titulo-subrayado p{
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--celeste);
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 24px;
}

.header-form.contacto{
    color: var(--texto-primario);
}